/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a1a1a, #2d004d);
    color: #121212;
    transition: background 0.5s, color 0.5s;
}

/* Dark Mode */
body.light {
    background: #f7f7f7;
    color: #e4d1d1;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(38, 177, 198);
    text-shadow: 0 0 10px rgb(13, 45, 45);
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 25px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover {
    color: rgb(211, 19, 222);
    text-shadow: 0 0 10px rgb(132, 170, 170);
}

#darkToggle {
    background: none;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(100, 16, 142);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 120px 20px;
}
.glow-text {
    font-size: 55px;
    font-weight: 700;
    color: rgb(204, 212, 212);
    text-shadow: 0 0 20px cyan;
}
.subtitle {
    color: #ccc;
}
.hero-buttons .btn, .btn-outline {
    padding: 12px 25px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
}
.btn {
    background: cyan;
    color: #000;
    font-weight: 600;
}
.btn-outline {
    border: 2px solid cyan;
    color: cyan;
}

/* Glassmorphism Cards */
.glass {
    margin: 40px auto;
    width: 85%;
    padding: 40px;
    border-radius: 20px;
    background: rgba(253, 250, 250, 0.559);
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
}
.card {
    margin: 20px 0;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px cyan;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: rgba(230, 219, 219, 0.4);
}

/* Mobile Responsive */
@media(max-width: 768px) {
    nav ul {
        display: none;
    }

    .glow-text {
        font-size: 38px;
    }

    .glass {
        width: 95%;
        padding: 25px;
    }
}
